head{

}

body {
	background-color: gold;
	color: black;	
	background-image: url( 'library image.jpg');
	background-repeat: no-repeat;
  	background-size: auto;
  	background-width: 100%;
  	background-position: center;
  	background-border: 5px solid;
	 font-weight: bolder;

}
footer{
 
	position: fixed;
	bottom: 0;
	width: 100%;
  	background-color: gold;
  	color:black;
  	font-size: 25px;
  	font-weight: bolder; 
  	max-height: 50px;
  	margin-top: 50px;


}
h1{
	color: yellow;
	align-content: center;

}
